/* style.css */

p {
	color: rgb(255,0,0);
}

a {
	color: rgb(150,100,150);
}

.menu:hover {
	background-color: lightgray;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }
}
